<h1>Collada Loader in Development</h1>
<p>
    <label>Select a collada file</label>
    <input type="file" id="resource">
</p>
<p>
    <label>Enter a filename for XMLHttpRequest</label>
    <input type="text" id="filename">
    <button id="filenameButton">Ajax</button>
</p>
<canvas id="canvas"></canvas>
<pre data-syntaxjs-highlight="false" id="show"></pre>
<script src="/scripts/gl-matrix-min.js"></script>
<script src="/scripts/collada.js"></script>
<script src="/scripts/keyboard.js"></script>
<script src="/scripts/webgl-framework.js"></script>
<script>
    {inline /application/scripts/collada_demo.js}
</script>