<section>

    <hgroup>
        <h1>Professional WebGL Programming from Wrox Press</h1>
        <h2>"Developing 3D Graphics for the Web" By Andreas Anyuru</h2>
    </hgroup>

    <p>I can recommend this book, because i´ve read it from the beginning to the end.</p>

    <p>The book covers the following topics. For each of the topic the author gives examples.
    For my personal studies, i tried out, what the author wrote. First without his sources, just
    by applying the new knowledge. Later i went to the companion site and downloaded the sources.
    Then i could edit the listings, like one should do, and re-use the graphical objects and shaders.</p>

    



</section>