<h1>Neue Features sammeln</h1>
<p>Folgende Bereiche</p>
<ol>
    <li>Benutzer</li>
    <li>Gruppen</li>
    <li>Artikel</li>
    <li>Kommentare</li>
    <li>Anwendungen</li>
    <li>Spiele</li>
    <li>Sicherheit</li>
</ol>

<h1>Gruppen</h1>

        <ol>
            <li>Gruppen haben einen Namen und eine Beschreibung</li>
            <li>Zu einer Gruppe gehören Benutzer, Gruppen, Kategorien, Topics, sie sollten eine (immer nur eine) group haben.</li>
            <li></li>
        </ol>

<h1>Soziales Netzwerk</h1>
        <ol>
            <li>
                Foto (File)
            </li>
            <li>
                Friend
            </li>
            <li>
                Message
            </li>
            <li>
                Facebook look-and-feel
            </li>
        </ol>
<h1>Artikel</h1>

<h1>Kommentare</h1>
<h2>Verbessern der Source Code Metainformationen in den Kommentaren</h2>
<ul>
    <li>@description hinzufügen, um eine Beschreibung anzugeben
    <li>@email lswt@lswt.de
    <li>@contact Edward Gerhold
    <li></li>
</ul>


<h1>Anwendungen</h1>
        <p>Offene Anwendungen für alle!</p>
        <ol>
            <li>LocalStorage/SessionStorage: NOTEPAD auf der ProfilSeite oder stand-alone</li>
            <li>Tips geben, Tipdatenbank</li>
            <li>Kostenlose Kleinanzeigen</li>
            <li></li>
        </ol>

<h1>Spiele</h1>


<h1>Sicherheit</h1>
    <li>
    <li>Automatisch generierte name Felder</li>
    <li>login und register urls entfernen</li>
    <li>Spamfilter und automatisches Löschen von Spampostern

</li>