<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="author" content="Edward Gerhold">
    <meta name="product" content="Edwards Homepage">
    <title>Lastenheft</title>
    <link rel="stylesheet" type="text/css" href="lastenheft.css">
</head>
<body>
<h1>Lastenheft</h1>


<section>
    <h2>1 Visionen und Ziele</h2>
    <ul>
        <li>/LV10/ Vision 1 des Systems</li>
        <li>/LZ10/ Ziel 1 des Systems</li>
        <li>/LV10/ Edwards Homepage soll durch die Anwendung geordneter und zugänglicher werden.</li>li>
        <li>/LV10/ Edwards Homepage soll durch die Anwendung ernsthafter und seriöser werden.</li>
        <li>/LV20/ Die Benutzer von Edwards Homepage sollen durch das System die Möglichkeit
        haben, die Artikel zu kommentieren und miteinander kommunizieren zu können.</li>
        <li>/LZ10/ Ein Benutzer der Homepage soll selbst Messages sharen können, und bei entsprechendem
        Security Level die Möglichkeit haben, selbst Artikel zur Homepage beizutragen, die wiederum kommentiert
        werden können.</li>
    </ul>
</section>

<section>
    <h2>2 Rahmenbedingungen</h2>
    <ul>
        <li>/LR10/ Edwards Homepage ist eine MVC Webanwendung, basierend auf Chris Pitt´s Pro PHP MVC Framework.</li>
        <li>/LR20/ Zielgruppe sind Informatiker und Fachfremde, die Spaß an Programmierung haben, oder einfach Besucher,
        die mal vorbeischauen, weil sie Edwards Seite auf Google gefunden haben.</li>
    </ul>
</section>


<section>
    <h2>3 Kontext und Überblick</h2>
    <ul>
        <li>/LK10/</li>
    </ul>
</section>


<section>
    <h2>4 Funktionale Anforderungen</h2>
    <ul>
        <li>/LF10/</li>
    </ul>
</section>


<section>
    <h2>5 Qualitätsanforderungen</h2>
    <ul>
        <li>/LQB10/ Qualitätsanforderung zur Benutzbarkeit des Systems</li>
        <li>/LQE10/ Qualitätsanforderung zur Effizienz des Systems</li>
    </ul>
</section>

</body>
</html>