<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="author" content="Edward Gerhold">
    <meta name="product" content="Edwards Homepage">
    <title>Pflichtenheft</title>
    <link rel="stylesheet" type="text/css" href="pflichtenheft.css">
</head>
<body>
<h1>Pflichtenheft</h1>
<section>
    <h2>1 Visionen und Ziele</h2>
    <ul>
        <li>/V10/</li>
        <li>/Z10/</li>
    </ul>
</section>
<section>
    <h2>2 Rahmenbedingungen</h2>
    <ul>
        <li>/R10/</li>
    </ul>
</section>
<section>
    <h2>3 Kontext und Überblick</h2>
    <ul>
        <li>/K10/</li>
    </ul>
</section>
<section>
    <h2>4 Funktionale Anforderungen</h2>
    <ul>
        <li>/F10/</li>
    </ul>
</section>
<section>
    <h2>5 Qualitätsanforderungen</h2>
    <ul>
        <li>/QFS10/ (Funktionalität, Sicherheit)</li>
        <li>/QBE10/ (Benutzbarkeit, Erlernbarkeit)</li>
    </ul>
</section>
<section>
    <h2>6 Abnahmekriterien</h2>
    <ul>
        <li>/PA/</li>
    </ul>
</section>
<section>
    <h2>7 Subsystemstruktur</h2>
    <ul>
        <li>Kernsystem</li>
        <li>Ausbaustufe 1</li>
        <li>Ausbaustufe 2</li>
    </ul>
</section>


</body>
</html>