<section class="wrapper" cite="/html5/websocket">
    <hgroup class="wrapper">
        <h1>WebSocket Demo</h1>
        <h2>From the HTML5 Developers Cookbook</h2>
        <p>This demo allows to test the socket connection via ws://echo.websocket.org.</p>
    </hgroup>
    <div id="btnTryCall">
        <input type="text" id="msg">
        <button id="btnSend">Send Message</button>
        <button id="btnClose">Close Message</button>
    </div>
    <div id="wsState"></div>
    <div id="message"></div>
</section>
<script>
    {inline /application/scripts/websocket.js}
</script>