<hr style="clear:both;">

<footer class="pagefooter wrapper">

    <section class="wrapper twoway">

        <div class="wrapper">

            <p>From Pro PHP MVC on apress</p>

            <p>I use and continue the Framework\ plus the Shared\ application, both from the book.
                I wrote a new namespace, Homepage\. (Have stopped developing for a short break for
                some other topic, and got to remove a lot of homepage projects from the homepage,
                mainly to seperate my example views (my content pages and controller functions)
                from the main homepage implementation on top of the great framework by the book´s
                author.</p> 
                
                <p>I already have the idea for automatic MVC-Pattern generation for this framework,
                that you just enter the model and i generate the add/edit/delete/view functions.
                But it´s not ready yet.</p>
                
                <p>The diagram is a long time outdated yet and the associations and catlinks don´t exist anymore,
                i switched plan to simply use 1o1 link tables if i need to link something.</p>


            <p>From HTML5 books to get it going. Full credits soon, when i continue all.</p>

            <a href=html5/notepad">Html5 Notepad from Leadbetter/Hudson</a><br>
            <a href=html5/websocket">talk to echo.websocket.org</a><br>
            <a href="games/hanoi">Towers of Hanoi Game</a><br>
            <p>Das ist von einer Frau. Ich habe es durch WebGL Experimente wieder verlegt, es ist grossartig. Über HTML5 Games. Ich dachte mal, was anderes zu machen, als sonst.</p>
            <a href="games/hangman">Initial version of hangman</a><br>
            <a href="games/dice">Throw dice</a><br>
            

        </div>


        <section cite="http://linux-swt.de/about" class="about wrapper">
            <figure>
                <img src="/iam-2004-emissive.jpg" alt="Edward Gerhold">
                <figcaption>Edward´s Homepage is developed again (and paused again) by
                    <address itemscope itemprop="name" itemtype="http://schema.org/CreativeWork/Author" cite="http://linux-swt.de">
                        Edward Gerhold
                    </address>
                    Powered by a great framework. Just follow him to learn how to write php mvc´s.
                </figcaption>
            </figure>
        </section>

    </section>

    <section class="wrapper twoway">

        <div class="wrapper">

            <h1>Return of the SWT in me</h1>

            <p>August steht auch im Zeichen des Lehrbuchs der Softwaretechnik Basiskonzepte und Requirements
                Engineering. Das lese ich mit Begeisterung.</p>
                
                <p>Anmerkung: Am meisten habe ich wieder am wenigsten mit den Anforderungen verbracht, die auch
                für die Homepage von Nöten sind, um einen genauen Ablauf und eine genau Anordnung von Funktionen 
                der Homepage zu erreichen.</p>

            <p><a target=blank href="http://jetbrains.com/phpstorm">PHPStorm</a> werde ich nochmal für dreissig Tage
                probieren. Ich werde es definitiv registrieren.
                Nur kann ich es mir derzeit wirklich nicht leisten. Solange werde ich ab- und zu eine Original
                Evaluationskopie installieren. Bis ich das richtige PHPStorm (beinhaltet WebStorm komplett und
                komplettes mySQL Management, direktes uploading, etc. und natürlich auch Versionskontrolle)
                registriert habe.</p>
                
                <p>Oh, gerade ist vor dem Upload meine aktuelle Evaluationskopie abgelaufen. Die Session
                ist nun auf dreissig Minuten begrenzt. Das Programm ist aber so gut, daß es ganz oben auf 
                der Liste steht. Wie das Framework, was mich zu gebracht hat. Heute werde ich erstmal mit
                sublime3 weiter tippen, denn das kostet am wenigsten Strom. Übrigens hat PHPStorm einen Power
                Save Mode, wo Autovervollständigung und Analyse und was weiss ich ausgeschaltet werden, der bringt
                auch einiges. Aber Licht ganz runter und sublime3 noch mehr. ;-) (Und Animationen bei Pause
                 nicht mehr updaten, bitte, wie weiter oben falsch beim Würfel passiert (wo das multiplizierte Licht
                 wohl einen Fehler auslöst und der Nebel und das Licht nicht mehr zu sehen sind, weil
                 das "überfärbt" wurde...)</p>
        </div>

        <div class="wrapper">

            <h1>Pro PHP MVC</h1>

            <p>Ich spiele mit dem Framework aus dem Buch Pro PHP MVC.</p>

            <p>Ich habe es abgetippt. Die alte Seite ist <a href="index2.php">hier</a> und im Footer zu finden.</p>

            <p>Pro PHP MVC is the best book to get a PHP MVC like the others wrote started!</p>

        </div>

    </section>


    <section cite="http://linux-swt.de" class="wrapper twoway">

        <p>My old useless pages.</p>

        <p>Just notes which don´t mean anything but that i´d fun the days learning cs from scratch.</p>

        <div class="static wrapper">
            <a onclick="LICHTBOX.zeichne(event)" href="html5entitySearch.html">HTML5 Entity Suche</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="/hiphop/">Hip-Hop (mp3 player quality only)</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="/index2.php">Bis juli.</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="janmar14.html">Jan.-März ´14, Okt-Dez. ´13</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="september-2013.html">September ´13</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="august-2013.html">August ´13</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="juli-2013.html">Juli ´13</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="juni-2013.html">Juni 2013</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="mai.php">Mai 2013 (Algos)</a><br>
            <a onclick="LICHTBOX.zeichne(event)" href="april.php">April und Mathe</a><br>
            <a style=background:transparent;border:0; onclick="LICHTBOX.zeichne(event)" href="about.html"
               title="">about</a><br>
        </div>

        <div class="wrapper">
            Place for more or cutable for less (responsive design ain´t just em for px). Ok. Paused.
        </div>


    </section>

</footer>