

<header class="wrapper">
    <a href="https://github.com/edwardgerhold/syntaxjs" title="syntax.js es6 shell for node + my homepage syntaxhighlighter"><img style="z-index: 999; position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Rework me on GitHub"></a>
    <img class="logo wrapper" src="linxswt.png" title="Der Grenzwert ist die Hoehe die eine Funktion bei einem gegebenen x erreichen soll...Der Linus einer Funktion hingegen kann mehr. Allerdings entferne ich die Definition vorerst nochmal, um ihr mehr Gewicht zu geben." alt="www.linux-swt.de">
</header>
