<nav class="user wrapper">
    <ul class="wrapper">

        <li><a href="/index.html">index</a></li>
        <li><a href="/users/home">home</a></li>
        <li><a href="/users/search.html">search</a></li>
        <input class="search" type="search" placeholder="search" name="quicksearch" value="">
        {if isset($user)}
        {if $file=$user->getFile()}
            <img class="user" src="{$file}" alt="userphto">
        {/if}
        <li><a href="/users/profile.html">profile</a></li>
        <li><a href="/users/settings.html">settings</a></li>
        <li><a href="/users/logout.html">logout</a></li>
        {/if}

        {else}
        <li><a href="/users/register.html">register</a></li>
        <li><a href="/users/login.html">login</a></li>
        {/else}

        <li><a href="/old">old lswt.de</a></li>
    </ul>
    {if isset($user) && $user->admin}
    {if $user->admin}
    <ol class="wrapper admin">
        <li><a href="/users/view.html">view users</a></li>
        <li><a href="/files/view.html">view files</a></li>
    </ol>
    {/if}
    {/if}
</nav>