<style>
    #canvas {
        background:white;
        border-radius:1em;
    }
    #throwDice {
        background:
    }
</style>
<section id="dicegame">
    <hgroup>
        <h1>Dice Game</h1>
        <h2>Taken from "The essential Guide to HTML5" by Jeanine Meyer.</h2>
    </hgroup>
    <canvas id="canvas" width="400" height="300" class="wrapper">
    </canvas>
    <button id="throwDice" onclick="throwDice(event);">throw dice!</button>
    <output id="results"></output>
<script>
    {inline /application/scripts/dice.js}
</script>