<!-- The towers of hanoi is taken from the HTML5 Developers Cookbook from Chapter 13 Drag and Drop -->
<style>
    .towerDropZone {
        float: left;
        height: 13.5em;
        width: 13.5em;
        margin: 0.4em;
        padding: 0.997em;
        position: relative;
        background-color:#fff;
        background-image:url(/images/tower.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        margin-left: 0.5em;
        padding-left: 0.3em;
    }
    .towerDropZone.over {
        border-radius: 0.997em 0.997em;
        background-color: #eee;
    }
    .tower {
        width: 13em;
        position: absolute;
        bottom: 0.1em;
        border: none;
    }
    .block {
        height: 1.6em;
        margin: 0.1em auto;
        border: 0.1em solid #ccc;
        border-radius: 0.997em 0.997em;
        background-color: #00F;
        color: #FFF;
        text-align: center;
        font-size: 1.62em;
        font-weight: bold;
    }
</style>


<h1>Towers Game</h1>
<p>&lt;!-- The towers of hanoi is taken from the HTML5 Developers Cookbook from Chapter 13 Drag and Drop --></p>
<p>Move the pieces on the left stack to the right most tower. A block may only be moved onto an empty tower or
    tower with a larger block.</p>
<div>Number of moves made: <span id='numMoves'>0</span></div>
<section id='towers'>
    <div class='towerDropZone' id='0'>
        <div class='tower' id='tower0'>
            <div class='block' id='0block' draggable='true'>1</div>
            <div class='block' id='1block' draggable='true'>2</div>
            <div class='block' id='2block' draggable='true'>3</div>
            <div class='block' id='3block' draggable='true'>4</div>
            <p id='p0'></p>
        </div>
    </div>
    <div class = 'towerDropZone' id='1'>
        <div class='tower' id='tower1'><p id='p1'></p></div>
    </div>
    <div class = 'towerDropZone' id='2'>
        <div class='tower' id='tower2'><p id='p2'></p></div>
    </div>
</section>
<br style="clear:both;">


<script>
    {inline /application/scripts/hanoi.js}
</script>
